[Desktop Entry]
Version=1.0
Type=Application
Name=Tui
Comment=Twitter menubar app
Icon=twitter
Exec=/opt/Tui/Tui
Path=/opt/Tui
NoDisplay=false
Categories=Network;
StartupNotify=false
Terminal=false
